services:
  server:
    build: ./Server
    container_name: server
    ports:
      - "80:4000"  # Already mapped to 80
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: 
      context: ./Client
      args:
        - VITE_API_URL=http://38.137.5.56  # Use port 80 (default HTTP)
    container_name: client
    ports:
      - "443:3000"  # Already mapped to 443
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
