services:
  server:
    build: ./Server   #  Capital S must match folder name
    container_name: server
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./Client   #  Capital C must match folder name
    container_name: client
    ports:
      - "5173:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
